/* Inicio Seccion General-Grids */
@import url('https://fonts.googleapis.com/css2?family=Play&family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@0,700;1,700&family=Ropa+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}

header {
    display: flex;
}


.container-grid {  display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  0.10fr 100% 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "main main main"
      "seccionformularios seccionformularios seccionformularios"
      "footer footer footer";
  }

 header { grid-area: header; }

.main { grid-area: main; }

.seccionformularios { grid-area: seccionformularios;}
  
.footer { grid-area: footer;}
/* Fin Seccion General-Grids */

 /* Inicio de seccion navbar */
.navbar {
    width: 100%;
    background-color: rgb(25, 209, 123);
}

.Logo:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.nav-item .nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 1.20em;
    color: rgb(0, 0, 0);
    bottom: 10px;
}

.nav-item:hover {
    color: whitesmoke !important;
}

.nav-item .nav-link:hover {
    text-decoration: none !important;
    background-color:rgb(24, 192, 114);
    transition: all 0.3s ease-in 0.1s;
    color: whitesmoke !important;
}



#buttonnavbar {
    background-color:rgb(25, 209, 123); 
    border: black solid 0.15em; 
    border-radius: 10%; 
    color:  rgb(0, 0, 0); margin-right:3.50em;
}
#navbarLight {
    transition: 0.4s;
}

#barrabusqueda {
    border-radius: 5%;
}

nav ul li i {
    font-size: 1.20em;
    padding-left: 10px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
}

/* Final de seccion navbar */

/* Seccion Main */
h1, h2, h3, h4, h5, h6 {
    text-overflow: initial;
    font-size: 1.50em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Inicio de Seccion Contacto */

.logocontacto {
    margin: auto;
   padding-top: 20px;
   justify-content: center;
   align-items: center;
}

.seccionformulario {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   padding: 20px 100px;
}

.seccionformulario:after {
   content:'';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat center;
   background-size: cover;
   z-index: -1;
   filter: blur(5px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.20);
}


.content-box {
   padding: 80px 80px 80px 80px;
}

.h1contacto {
   position: relative;
   padding-bottom: 10px;
   margin-bottom: 10px;
}

.h1contacto:after {
   content:  '';
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   height: 4px;
   width: 50px;
   border-radius: 2px;
   background-color: rgb(25, 209, 123);
}

.field {
   width: 100%;
   padding: 0.5rem 0.5rem;
   background-color: rgba(230, 230, 230, 0.6);
   font-size: 1.1rem;
   margin-bottom: 22px;
   transition: .3s;
   outline: none;
   border: 2px solid rgba(0, 0, 0, 0.5) ;
}

.field:hover {
   background-color: rgba(0, 0, 0, 0.1) ;
}

.field:focus {
   background-color: rgb(245, 241, 241);
   border: 2px solid  rgb(25, 209, 123);
}

.btn  {
   width: 30%;
   padding: 0.5rem  0.5rem;
   font-size: 1.1rem;
   background-color: rgb(24, 190, 113) !important;
   cursor: pointer;
   outline: none;
   border: none;
}

.btn:hover {
   background-color: rgb(24, 177, 105) !important;
   border: solid black 1px ;
   transition: all 0.4s;
} 

.labelfont {
   font-size: 1.50em;
}
/* Final de Seccion Contacto */

/* Seccion Footer */

footer {
    background-color: rgb(25, 209, 123);
}

ul {
    list-style: none;
}

.containerfooter {
    border-top: solid rgb(0, 0, 0);
    max-width: 100%;
    margin: auto;
}

.containerfooter_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.containerfooter_row_col {
   width: 25%;
}

.containerfooter_row_col ul li {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif ; 
}

.containerfooter_row_col ul li a {
    font-size: 1.50em;
    text-transform: capitalize ;
    padding-right: 9%;
    display: block;
    transition: all 0.3s ease;
}


.containerfooter_row_col ul li a:hover {
    color: white;
    padding-left:  10px;
}

.containerfooter_row_col h2, h3, h4, h5 {
    font-size: 1.50em !important;
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.containerfooter_row_col .footer_social a {
    display: inline-block;
    font-size: 2.20em;
    height: 40px;
    width: 50px;
    padding: 2%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px ;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: content-box !important;
    transition: all 0.3s;
}

.containerfooter_row_col .footer_social a:hover {
    color: white;
}
.containerfooter_row_col .footer_pay {
    padding-top: 10px;
}

.containerfooter_row_col .footer_pay i{
    display: inline-block;
    font-size: 2.40em;
    height: 40px;
    width: 50px;
    padding: 2%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: content-box !important;
    transition: all 0.3s;
}

.copyright {
    font-size: 1.30em;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-weight:  300;
    background-color: rgb(25, 209, 123);
    text-align: center;
    border-top: solid rgb(0, 0, 0);
}

/* Final de Seccion Footer */

/* Inicio de Seccion queries contacto */
@media screen and (max-width:700px) {
    .container-grid {  display: grid;
        grid-template-rows:  0.10fr 80% 1fr;
      }
      .seccionformulario {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 1em 1em;
     }
     .logocontacto {
         height: 90%;
         width: 90%;
     }
}

@media screen and (max-width:400px) {
    .seccionformulario { 
        padding: 0.40em 0.40em;
    }
    .btn {
        width: 50%;
        margin: 2%;
    }
}

/* footer responsive */
@media (max-width: 767px) { 
    .containerfooter_row_col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) { 
    .containerfooter_row_col {
        width: 50%;
        margin-bottom: 30px;
    }
    .logocontacto {
        height: 80%;
        width: 80%;
    }
}

/* Final de Secion Queries */