/* Inicio Seccion General-Grids */
@import url('https://fonts.googleapis.com/css2?family=Play&family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@0,700;1,700&family=Ropa+Sans&display=swap');
// Variables Maps y Mixins 
$textdecoration: none;
$color: rgb(0,0,0);

$colors: (
    color1: rgb(2, 2, 2),
    color2: rgb(0, 0, 0),
    color3: rgb(2, 1, 1),
    "green": rgb(24, 192, 114),
    "white": rgb(243, 233, 233),
);

@debug map-get($colors , "green" ); 

// Mixins
@mixin text ($textdecoration, $color) {
    text-decoration: $textdecoration;
    color: $color;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.container-grid {  display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  0.05fr 70%  1fr ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header "
      "main main main"
      "ofertaproductos ofertaproductos ofertaproductos"
      "footer footer footer";
  }

 header { grid-area: header; }

.main { grid-area: main; }
  
.ofertaproductos { grid-area: ofertaproductos; }

.footer { grid-area: footer; }

/* Fin Seccion General-Grids */

/* Inicio de seccion navbar */
.navbar {
    width: 100%;
    background-color: rgb(25, 209, 123);
}

.Logo:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.nav-item .nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 1.20em;
    color: rgb(0, 0, 0);
    bottom: 10px;
}

// aca aplique un map-get
.nav-item .nav-link:hover {
    text-decoration: none !important;
    background-color: map-get ($colors, "green");
    transition: all 0.3s ease-in 0.1s;
    color: $color1 !important;
}

#buttonnavbar {
    background-color:rgb(25, 209, 123); 
    border: black solid 0.15em; 
    color:  rgb(0, 0, 0); 
    margin-right: 3.50em;
}
#navbarLight {
    transition: 0.4s;
}

#barrabusqueda {
    border-radius: 5%;
}

nav ul li i {
    font-size: 1.20em;
    padding-left: 10px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
}

#carousel {
    position: relative;
    align-items: center;
    margin: auto;
}

// inclui un mixin
ul li a {
    @include text(none, rgb(0,0,0))
}
/* Final de seccion navbar */

/* Inicio de seccion carousel */
.carousel-item {
    height: 60rem;
    background: black;
    color: white;
    position: relative;
    font-size: 2em;
    background-position: center;
    background-size: cover;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.container {
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 3em;
}

.btn-primary {
    background-color:rgb(24, 192, 114) !important;
    border-color: rgb(24, 192, 114) !important ;
    padding: 0.80em !important; 
}
/* Fin de seccion Carousel */

/* Inicio de seccion main */
h1, h2, h3, h4, h5, h6 {
    @include text(none, rgb(0,0,0));
    text-overflow: initial;
    font-size: 1.50em;
    font-weight: 600;
    list-style: none;
}


.ofertaproductos {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.productcard {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.ofertaproductos .productcard {
    width: 280px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 0.20em solid rgb(25, 209, 123);
    border-radius: 1em;
    box-shadow: 0 0 10px rgb(116, 115, 115);
    text-align: center;
    .product-image {
        height:  450px;
         width: 250px;
         margin: 10px auto;
    }
}



.ofertaproductos .productcard .product-image img {
    width: 100%;
}

.ofertaproductos .productcard .product-image img:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.ofertaproductos .productcard .product-info strong {
    font-size: 1.35em;
    padding: 0 0 0 20px;
    margin-bottom: 10px;
}

.ofertaproductos .productcard .productbtn {
    width: 100%;
    button {
        width: 100%;
        padding: 5px;
        background-color: rgb(25, 209, 123);
        border: none;
        outline: none;
        color: rgb(252, 239, 239);
        cursor: pointer;
        font-size: 1.35em;
        border-radius: 0 0 10px 10px;
    }
}


.ofertaproductos .productcard .productbtn button:hover {
    background-color: rgb(22, 182, 107);
    transition: 0.3s;
}

#ofertaindex {
    text-align: center;
    background-color: rgb(25, 209, 123) ;
}

.suscribir {
    font-size: 2.25em;
    color: $color;
    border-top: solid rgb(7, 34, 39) ;
    text-align: center;
    background-color: rgb(25, 209, 123);
    padding-bottom: 3em;
}

.button {
    font-size: 0.50em ;
    background-color: rgb(25, 209, 123);
    border: outset rgb(0, 0, 0);
    border-radius: 0.30em;
    padding: 0.40em;
} 

.button:hover {
    color:whitesmoke;
    background-color: rgb(22, 185, 109);
    transition: all 0.1s ease-in 0.1s;
}
/* Final de Seccion Main */

/* Inicio de seccion footer */

footer {
    background-color: rgb(25, 209, 123);
}

ul {
    list-style: none;
}

.containerfooter {
    border-top: solid rgb(0, 0, 0);
    max-width: 100%;
    margin: auto;
}

.containerfooter_row{
    // Aplique un extend
    @extend .containerfooter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    .containerfooter_row_col {
        width: 25%;
     }
}



.containerfooter_row_col ul li {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif ; 
}

.containerfooter_row_col ul li a {
    font-size: 1.50em;
    text-transform: capitalize ;
    padding-right: 9%;
    display: block;
    transition: all 0.3s ease;
}


.containerfooter_row_col ul li a:hover {
    color: white;
    padding-left:  10px;
}

.containerfooter_row_col h2, h3, h4, h5 {
    font-size: 1.50em !important;
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.containerfooter_row_col .footer_social a {
    display: inline-block;
    font-size: 2.20em;
    height: 40px;
    width: 50px;
    padding: 2%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px ;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: content-box !important;
    transition: all 0.3s;
}

.containerfooter_row_col .footer_social a:hover {
    color: white;
}
.containerfooter_row_col .footer_pay {
    padding-top: 10px;
}

.containerfooter_row_col .footer_pay i {
    display: inline-block;
    font-size: 2.40em;
    height: 40px;
    width: 50px;
    padding: 2%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: content-box !important;
    transition: all 0.3s;
}

// aplique uns extend

.copyright {
    font-size: 1.30em;
    font-family: 'Poppins', sans-serif;
    color: rgb(7, 34, 39);
    font-weight:  300;
    background-color: rgb(25, 209, 123);
    text-align: center;
    border-top: solid rgb(7, 34, 39);
}
/* Final de seccion footer */

/* Seccion Queries index */
@media screen and (min-width: 560px){
    .container-grid {  display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows:  0.05fr 120%  0.20fr ;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header header header "
          "main main main"
          "ofertaproductos ofertaproductos ofertaproductos"
          "footer footer footer";
      }
    }
    
/* Footer Responsive */
@media (max-width: 1024px) { 
    .containerfooter_row_col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer {
        margin-top: 15em;
    }
    #ofertaindex {
        margin-bottom: 4em;
    }
}

@media (max-width: 610px) { 
    .containerfooter_row_col {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer {
        margin-top: 45em;
    }
}
@media (max-width: 560px) {
    .footer {
        margin-top: 70em;
    }
}

/* Final de Queries */
