@import url("https://fonts.googleapis.com/css2?family=Play&family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@0,700;1,700&family=Ropa+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Ropa Sans", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.05fr 80% 1fr;
      grid-template-rows: 0.05fr 80% 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "header header header" "main main main" "containernosotros containernosotros containernosotros " "footer footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.containernosotros {
  grid-area: seccionformularios;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

/* Seccion Navbar */
.navbar {
  width: 100%;
  background-color: #19d17b;
}

.Logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-item .nav-link {
  text-decoration: none;
  list-style: none;
  font-size: 1.20em;
  color: black;
  bottom: 10px;
}

.nav-item .nav-link:hover {
  text-decoration: none !important;
  background-color: #18c072;
  -webkit-transition: all 0.3s ease-in 0.1s;
  transition: all 0.3s ease-in 0.1s;
}

#buttonnavbar {
  background-color: #19d17b;
  border: black solid 0.15em;
  border-radius: 10%;
  color: black;
  margin-right: 3.50em;
}

#navbarLight {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#barrabusqueda {
  border-radius: 5%;
}

nav ul li i {
  font-size: 1.20em;
  padding-left: 10px;
  margin-left: 5px;
  color: black;
}

/* Fin de Seccion Navbar */
/* Seccion Main */
h1, h2, h3, h4, h5, h6 {
  text-overflow: initial;
  font-size: 1.50em;
  font-weight: 600;
  color: black;
  text-decoration: none;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

/* Nosotros */
.imagennosotros {
  text-align: center;
  margin: auto;
  padding-bottom: 6em;
  font-size: 3em;
}

.imagennosotros_texto {
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: #b4eebc !important;
  font-size: 3em;
}

.textonosotros {
  color: black;
  font-size: 2.30em;
  text-align: center;
  margin: auto;
  padding: 1.50em;
  padding-bottom: 6em;
}

.imagennosotros_texto_2 {
  text-align: center;
  font-size: 2.30em;
  color: black;
  padding: 1.50em;
}

.imagennosotros_texto_2 h2 {
  font-size: 1.50em !important;
  padding: 1em;
}

/* Seccion Footer */
footer {
  background-color: #19d17b;
}

ul {
  list-style: none;
}

.containerfooter {
  border-top: solid black;
  max-width: 100%;
  margin: auto;
}

.containerfooter .containerfooter_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.containerfooter_row_col {
  width: 25%;
}

.containerfooter_row_col ul li {
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.containerfooter_row_col ul li a {
  font-size: 1.50em;
  text-transform: capitalize;
  padding-right: 9%;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerfooter_row_col ul li a:hover {
  color: #ececec;
  padding-left: 10px;
}

.containerfooter_row_col h2, h3, h4, h5 {
  font-size: 1.50em !important;
  text-transform: capitalize;
  margin-bottom: 15px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.containerfooter_row_col .footer_social a {
  display: inline-block;
  font-size: 2.20em;
  height: 40px;
  width: 50px;
  padding: 2%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 40px;
  text-align: center;
  color: black;
  border-radius: 50%;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.containerfooter_row_col .footer_social a:hover {
  color: #ececec;
}

.containerfooter_row_col .footer_pay {
  padding-top: 10px;
}

.containerfooter_row_col .footer_pay i {
  display: inline-block;
  font-size: 2.40em;
  height: 40px;
  width: 50px;
  padding: 2%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 40px;
  text-align: center;
  color: black;
  border-radius: 50%;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.copyright {
  font-size: 1.30em;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 300;
  background-color: #19d17b;
  text-align: center;
  border-top: solid black;
}

/* footer responsive */
@media (max-width: 767px) {
  .containerfooter_row_col {
    width: 50%;
    margin-bottom: 30px;
  }
  .container-grid {
    -ms-grid-rows: 0.05fr 70% 1fr;
        grid-template-rows: 0.05fr 70% 1fr;
  }
}

@media (max-width: 574px) {
  .containerfooter_row_col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 485px) {
  .imagennosotros {
    font-size: 1.50em;
  }
  .textonosotros {
    font-size: 1.50em;
  }
  .imagennosotros_texto_2 {
    font-size: 1.50em;
  }
  .container-grid {
    -ms-grid-rows: 0.05fr 50% 1fr;
        grid-template-rows: 0.05fr 50% 1fr;
  }
}
/*# sourceMappingURL=sobrenosotros.css.map */